.positive
{
    color:greenyellow !important

}
.negative
{
    color:red !important
}

.background
{
    background-color: black;
}
div{
    color:white
}


.card
{
    margin-bottom: 3%;
}

.value-box{
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: bold;
}



