.login
{
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    color: white;

}
.paratext
{
    text-align: center;
    font-family: 'Fidelity Sans', arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color:white;
  box-sizing: content-box;
  border-spacing: 0;
}
